.boton-contenedor {
    height: 84px;
    display: flex;
    flex: 1 1; /*se distribuye el espacio de forma equitativa el ancho de cada boton */
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    color: whitesmoke;
    border-radius: 24px;
    border: 2px solid whitesmoke;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.boton-contenedor:hover {
    background-color: red;
}

.operador {
    background-color: #00471b;
}

.operador:hover {
    background-color: #ff6600;
}
